#myGameZone {
  border: 1px solid black;
  /* background-color: lightgreen; */
}

body {
  width: 99%;
  height: 800px;
  background-color: lightblue;
  background-image: url("../public/koala.png");
  background-repeat: no-repeat;
  background-position: center;
}
canvas {
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

#startPage button {
  display: flex;
}

#startPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#playButton {
  color: white;
  font-size: 5em;
  margin: auto;
  background-color: transparent;
  padding: 20px;
  border-color: transparent;
}
#instructionsButton {
  color: white;
  font-size: 3em;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  border-color: transparent;
}

.no-show {
  display: none;
}

#showInstructionsPannel {
  position: absolute;
  top: 340px;
  left: 60%;
  right: 50%;
  width: 400px;
  font-size: 1.8em;
  color: white;
}

#finalResult {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 11%;
  left: 0;
  color: green;
  background-color: lemonchiffon;
  text-align: center;
  right: 0;
  padding: 1em;
  border: 10px solid;
  border-radius: 40px;
}

#finalResult > button {
  display: block;
  margin: 0.5em auto;
}

#totalResults h3 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.lista_resultado {
  font-size: 1.3em;
  text-align: justify;
}

.right {
  float: right;
}

#playerForm {
  text-align: center;
  color: white;
}

#playerForm h1 {
  font-size: 4em;
  margin-bottom: 0;
}

#name {
  width: 300px;
  padding: 10px;
  font-size: 2em;
  background-color: yellowgreen;
}

.btn_again,
.btn_changePlayer {
  font-size: 0.7em;
  width: 125px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: lime;
  font-weight: 800;
  padding: 5px;
}

.btn_changePlayer {
  background-color: aquamarine;
}
